<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="box">
    <div class="frame" *ngFor="let product of products">
      <img src={{product.image}} alt="Image of {{product.title}}">
      <h3>{{product.title}}</h3>
      <h4>${{product.price}}</h4>
      <button class="button btn btn-primary" [routerLink]="['/products', 'edit', product._id]">Edit</button>
      <button class="button btn btn-danger" (click)="deleteProduct(product._id)">Delete</button>
    </div>
  </div>
</body>
</html>