* {
    font-weight: bold;
}
#container {
    padding: 1rem;
    text-align: center;
    border: .3rem solid #F7A402;
    border-radius: .5rem;
}
#btndiv {
    padding: 1rem;
    border: .3rem solid blue;
    border-radius: .5rem;
}
#gatbtn {
    padding: .5rem;
    color: white;
    background-color: #9C28B0;
    border-radius: .5rem;
}
#showbtn {
    width: 4rem;
    height: 4rem;
    margin: .5rem;
    color: white;
    background-color: #2C9687;
    border-radius: 15rem;
}
#info {
    padding: 1rem;
    border: .3rem solid green;
    border-radius: .5rem;
}