<div id="component">
    <h1>Browse the Ledger</h1>
    <h2>Here you can browse all ShintoCoin transactions.</h2>
    <table id="ledger">
        <thead>
        <tr id="grey">
            <th>ShintoCoin Ledger</th>
        </tr>
        <tr>
            <th>Action</th>
            <th>Amount</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transaction of _httpService.journal">
                <td>{{transaction.action}}</td>
                <td>{{transaction.qty}}</td>
                <td>{{transaction.value}}</td>
                <button (click)='_httpService.findTrans(transaction.id)' [routerLink]="['/transaction', transaction.id]">Details</button>
            </tr>
        </tbody>
    </table>
</div>