* {
    margin: 0;
    padding: 0;    
}
h1 {
    font-size: 4rem;
    font-weight: bold;
}
#container {
    width: 85rem;
    height: 50rem;
    margin: 1rem auto;
    padding: 2rem;
    border: 1px solid blue;
}