<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>Survey Form</title>
</head>
<body>
    <div id="container">
        <h1><u>Submitted Information</u></h1>
        <h2>Name: <%=results.name%></h2>
        <h2>Dojo Location: <%=results.location%></h2>
        <h2>Favorite Language: <%=results.language%></h2>
        <h2>Comment: <%=results.comment%></h2>
        <a href="/"><button id="btn">Go Back</button></a>
    </div>
</body>
</html>