<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>Cars</title>
</head>
<body>
    <div id="container">
        <h1>Form</h1>
        <form>
            <p>First Name:<input type="text"></p>
            <p>Last Name:<input type="text"></p>
            <p>Email:<input type="text"></p>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>