<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <title>Add a Ferret!</title>
</head>
<body>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/ferrets/new">Add Ferret</a>
        </li>
    </ul>
    <div id="container">
        <h1>Add a Ferret!</h1>
        <form action="/ferrets" method="post">
            <h3>Name: <input type="text" name="name"></h3>
            <h3>Age: <input type="text" name="age"></h3>
            <h3>Color: <input type="text" name="color"></h3>
            <input type="submit" value="Add Ferret">
        </form>
        <% if(messages.ferretform) { %>
            <% for (var x of messages.ferretform) { %>
                <p id="error"><%= x %></p>
            <% } %>
        <% } %>
    </div>
</body>
</html>