<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>Counter</title>
</head>
<body>
    <div id="counter">
        <h1>Counter</h1>
        <h3><%= counter %></h3>
        <a href="/plus"><button>+2</button></a><a href="/reset"><button>Reset</button></a>
    </div>
</body>
</html>