a {
    margin: 0 3rem;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
}
h1 {
    font-size: 3rem;
    font-weight: bold;
}
fieldset {
    width: 65rem;
    height: 35rem;
}
#container {
    width: 75rem;
    height: 45rem;
    margin: 1.5rem auto;
    padding: 2rem;
}
#box {
    width: 55rem;
    height: 35rem;
    border: 1rem;

}