* {
    margin: 0;
    padding: 0;
}
img {
    width: 11rem;
    height: 11rem;
    margin-bottom: -7rem;
}
li {
    display: inline;
    margin: 1rem;
    list-style-type: none;
}
button {
    padding: .75rem 3rem;
    font-weight: bold;
    border: none;
    border-radius: .5rem;
    background-color: #E6E6E6;
}
#container {
    width: 78rem;
    height: 48rem;
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
}
#header {
    height: 11rem;
}