<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>Quoting Dojo Quotes</title>
</head>
<body>
    <div id="container2">
        <h1 id="ctr">Here are the awesome quotes!</h1>
        <% for (var i in info) { %>
            <p id="quote">"<%= info[i].quote %>"</p>
            <p id="who">-<%= info[i].name %> at <%= moment(info[i].createdAt).format("hh:mm a, MMMM DD YYYY") %></p>
        <% } %>
    </div>
</body>
</html>