<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="/cars"><button>Cars</button></a>
        <a href="/cats"><button>Cats</button></a>
        <a href="/cars/new"><button>Add Car</button></a>
    </div> 
    <div>
        <h1>Cats</h1>
        <img src="images/float.jpg">
        <img src="images/what.jpg">
        <img src="images/helmet.jpg">
    </div> 
</body>
</html>